<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        
        <title>
            {% block title %}{% endblock %} | advent calendar
        </title>
    </head>
    <body>
        <nav class="p-6 flex items-center justify-between bg-gray-800">
            <a href="/" class="text-xl text-cyan-500">advent calendar</a>
            
            <div class="space-x-4">
                <a href="{% url 'core:about' %}" class="text-white">about</a>

                {% if not request.user.is_authenticated %}
                    <a href="{% url 'accounts:signup' %}" class="py-4 px-6 bg-cyan-600 text-white rounded-xl">sign up</a>
                    <a href="{% url 'accounts:login' %}" class="py-4 px-6 bg-gray-600 text-white rounded-xl">log in</a>
                {% else %}
                    <a href="{% url 'dashboard:dashboard' %}" class="py-4 px-6 bg-cyan-600 text-white rounded-xl">dashboard</a>
                    <a href="{% url 'cards:create_calendar' %}" class="py-4 px-6 bg-cyan-600 text-white rounded-xl">create calendar</a>
                    <a href="{% url 'cards:create_card' %}" class="py-4 px-6 bg-cyan-600 text-white rounded-xl">create card</a>
                    <form class="inline py-4 px-6 bg-rose-600 text-white rounded-xl" method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit">log out</button>
                    </form>
                {% endif %}
                
            </div>
        </nav>
    
        <main class="p-6">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="p-6 bg-gray-900">
            <p class="text-xs text-gray-400"> Copyright (c) 2023 - advent calendar</p>
        </footer>

    </body>
</html>