{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="mb-6 text-xl">Dashboard</h1>

    <div class="p=6 bg-gray-100 rounded-xl">
        <h2 class="mb-4 text-xl">Recent calendars</h2>

        {% for calendar in newest_calendars %}
            <div class="mb-2 flex justify-between items-center">
                <p>{{ calendar.name }}</p>
                <a href="#" class="underline">Edit</a>
            </div>
        {% endfor %}

    </div>
    

{% endblock %}